<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademyProjectt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlett</display-name>
    <servlet-name>LoginServlett</servlet-name>
    <servlet-class>LoginServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlett</servlet-name>
    <url-pattern>/LoginServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Class</display-name>
    <servlet-name>Class</servlet-name>
    <servlet-class>Class</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Class</servlet-name>
    <url-pattern>/Class</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subject</display-name>
    <servlet-name>Subject</servlet-name>
    <servlet-class>Subject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subject</servlet-name>
    <url-pattern>/Subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher</display-name>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assign</display-name>
    <servlet-name>Assign</servlet-name>
    <servlet-class>Assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assign</servlet-name>
    <url-pattern>/Assign</url-pattern>
  </servlet-mapping>
</web-app>